* {
    box-sizing: border-box;
}
h1 {
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 4.5em;
    text-align: center;
    color: #6C63FF;
}
.countdown-container {
    border: solid;
    width: 900px;
    display: flex;
    
    margin: 10px 10px 10px 80px;
}
 .countdown-el {
    text-align: center;
 }
 .countdown-el span {
    font-size: 2em;
 }
 .text {
    font-size: 3rem;
    line-height: 1;
    margin: 5rem;
    font-weight: bold;
    
 }
 button {
    font-family: 'Poppins';
    text-align: center;
    width: 200px;
    height: 50px;
    color: white;
    background-color: #6C63FF;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
 }
 section {
    text-align: center;
 }
 p {
    font-family: 'Poppins';
    font-size: 1.5em;
    color: #4D4C59;

 }
 span {
    color: #9C9AB6;
 }